<h2>{{format-date date=selectedDate format='MMMM'}}</h2>
<table class="ui definition table">
  <thead>
    <tr>
      <th></th>
      <th>Budget</th>
      <th>So far</th>
    </tr>
  </thead>
  <tbody>
    {{#each rootCategories as |category|}}
      <tr>
        <td colspan="3"><h3>{{category.name}}</h3></td>
      </tr>
        {{#each category.children as |child|}}
          {{entry-line category=child selectedDate=selectedDate store=store}}
        {{/each}}
    {{/each}}
  </tbody>
</table>
<a {{action 'nextMonth'}}>Next Month ->></a>
